{:paths ["src" "resources"]
 :deps {cheshire/cheshire {:mvn/version "5.11.0"}
        http-kit/http-kit {:mvn/version "2.7.0"}
        metosin/malli {:mvn/version "0.11.0"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        babashka/process {:mvn/version "0.5.21"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}

        potemkin/potemkin {:mvn/version "0.4.6"}
        com.appsflyer/pronto {:mvn/version "2.1.2"}
        io.dapr/dapr-sdk-autogen {:mvn/version "1.9.0"}}

 :aliases
 {:dev {:extra-paths ["dev/src"]
        :extra-deps {com.lambdaisland/classpath {:mvn/version "0.4.44"}
                     metosin/reitit-core {:mvn/version "0.7.0-alpha5"}
                     org.slf4j/slf4j-api {:mvn/version "2.0.7"}
                     org.slf4j/slf4j-simple {:mvn/version "2.0.7"}}}

  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
