/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

.clj-kondo
.cpcache
.lsp
!.lsp/config.edn

out/
.DS_Store

/java-src
/proto-plugins
